@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fbf7fd; /* light-wisteria-50 */
}

::-webkit-scrollbar-thumb {
  background: #c99ce1; /* light-wisteria-400 */
  border-radius: 10px;
  border: 2px solid #fbf7fd; /* creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #a15bc2; /* light-wisteria-600 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c99ce1 #fbf7fd;
}
